/* Browse page styles */

main {
    padding: 50px 0;
}

div.content {
    margin-top: 20px;
    padding-bottom: 10px;

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 15px;
    width: 100%;
    overflow: auto;

}

/* Pagination container */
main div.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Pagination */
div.pagination {
    margin-top: 20px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-background-light);
    border-radius: 18px;
    overflow: hidden;


}


main a.page-link {
    margin: 0 5px;
    padding: 5px 10px;

    font-size: 18px;
    font-weight: 400;
    width: 40px;
    text-align: center;
    color: var(--color-text);
    border-radius: 90px;
}

main a.current-page {
    background-color: var(--color-primary);
    color: var(--color-text-primary);
}