header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 28px;

  width: 100vw;
  height: 75px;

  background-color: var(--color-background-hard);

  font-size: 16px;
}

header a,
header button {
  color: var(--color-text);
}

header > a,
header > div > button {
  padding: 12px 0;
}

header > form#search {
  width: 25vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  background-color: var(--color-background-light);
  padding: 12px 20px;
  border-radius: 10px;
}

header > form#search > input {
  background-color: transparent;
  border: none;
  outline: none;

  height: 24px;

  font-size: 14px;
  color: var(--color-text);

  flex-grow: 1;
}

header > form#search > input::placeholder {
  color: var(--color-text-hard);
}

header > form#search > button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

header > form#search > button > span.material-symbols-rounded {
  color: var(--color-text-hard);
}

header .with-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

header > div#my-account {
  position: relative;
}

header > div#my-account > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

header > div#my-account > div {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;

  background-color: var(--color-background-hard);
  border-radius: 10px;
}

header > div#my-account > div.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    font-size: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0;
  }

  header > form#search {
    width: 100%;
  }

  a.with-icon {
    padding: 0 20px;
  }


  
}