section {
  position: relative;

  margin: 150px 0 180px 0;
}

section > h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 1000;
  font-size: 210px;
  text-align: center;
  color: #c3c3c319;

  position: absolute;
  top: 0;
  margin-top: -140px;
  width: 100%;
  user-select: none;
  z-index: -1;
}

section > div {
  display: flex;
  flex-direction: column;
  gap: 7px;

  margin: 0 150px;
}

section > div > div.section-header > h2::before {
  font-size: small;
  content: '•  ';
  color: var(--color-primary);
  font-size: 1em;
}

section > div > div.section-header > h2 {
  font-size: 28px;
}

section > div > div.section-header > p {
  font-size: 16px;
  color: var(--color-text-hard);
}

section > div > div.section-content {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  justify-content: center;
}
