/* Style for home page */

/* Section */
main section {
  margin: 8vmax 0 10vmax 0;

  position: relative;
}

/* Title of the section (the one who is in bg) */
main section > h1 {
  position: absolute;
  top: 0;
  margin-top: -150px;
  width: 100%;
  user-select: none;
  z-index: -1;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11vw;
  text-align: center;
  color: #c3c3c319;
}

/* Content of the section */
main section > div {
  display: flex;
  flex-direction: column;
  gap: 7px;

  overflow: hidden;
}

/* Header of the section */
main section > div > div.section-header {
  margin: 0 7vw;
}

/* Adding a dot before the title */
main section > div > div.section-header > h2::before {
  font-size: small;
  content: '•  ';
  color: var(--color-primary);
  font-size: 1em;
}

/* Title of the section */
main section > div > div.section-header > h2 {
  font-size: 28px;
}

/* Description of the section */
main section > div > div.section-header > p {
  font-size: 16px;
  color: var(--color-text-hard);
}

/* Content of the section */
main section > div > div.section-content {
  margin-top: 20px;
  padding-bottom: 10px;

  display: flex;
  flex-direction: row;
  gap: 15px;

  width: 100%;
  overflow: auto;
}

/* Horizontal SCROLLBAR */
main section > div > div.section-content::-webkit-scrollbar {
  height: 7px;
  background-color: transparent;
  border-radius: 10px;
}

main section > div > div.section-content::-webkit-scrollbar-thumb {
  background-color: var(--color-text-hard);
  border-radius: 10px;
}

main section > div > div.section-content::-webkit-scrollbar-track {
  background-color: var(--color-background-light);
  border-radius: 10px;
}

/* There is now way to shrink the lenght of the scrollbar in css it takes the size of the div, this is why we must innovate
   and use the buttons to make it look like the scrollbar is shorter.
   The buttons are transparent but there are still enabled.
*/
main
  section
  > div
  > div.section-content::-webkit-scrollbar-button:start:decrement,
main
  section
  > div
  > div.section-content::-webkit-scrollbar-button:end:increment {
  width: 7vw;
  display: block;
  background: transparent;
}

/* Paragraphs (shown if the user has no saved builds) */
main section > div > div.section-content > p {
  width: 100%;
  text-align: center;
}

/* The first and last post of the section must have a margin to make the scroll effect look better */
main section > div > div.section-content > div:first-child {
  margin-left: 7vw;
}

/* Responsive design */
@media screen and (max-width: 1200px) {
  /* The big title of the section is hidden on small deviced */
  main section > h1 {
    font-size: 0;
  }
}
