/* Style for conditions of use, privacy policy and site map pages */

main {
    padding: 50px 10vw;
}

main p {
    margin: 30px 0;
    text-align: justify;
}

main ul {
    margin: 30px 0 30px 2vw;
}

main ul li {
    margin: 10px 0;
}

main a {
    color: var(--color-text);
    text-decoration: underline;
}

