/* Styles for input elements in login and register pages */

/* Input */
input.styled {
    outline: none;
    background-color: var(--color-background-hard);
    color: white;
    color: var(--color-text);
    padding: 10px 18px;
    border: 1px solid var(--color-background-light);
    border-radius: 10px;

    transition: border 0.15s;
}

/* Placeholder */
input.styled::placeholder {
    color: var(--color-text-hard);
}

/* When focused */
input.styled:focus {
    border: 1px solid var(--color-primary);
}
