* {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

html {
  --color-background: #0e0e0e;
  --color-background-hard: #080808;
  --color-background-light: #1a1a1a;
  --color-text: #c3c3c3;
  --color-text-hard: #9d9d9d;
  --color-text-primary: #121212;

  --color-primary: #f5c518;
  --color-secondary: #797979;

  --color-error: #f51818;
  --color-warning: #f55d18;
}

body {
  width: 100%;
  height: 100vh;

  background-color: var(--color-background);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;

  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}


::-webkit-scrollbar {
  width: 13px;
  border-radius: 10px;
  background-color: var(--color-background-light);
}


::-webkit-scrollbar-thumb {
  background-color: var(--color-text-hard);
  border-radius: 10px;
}



::-webkit-scrollbar-thumb:hover {
  background-color: #4e4e4e;
}

a {
  text-decoration: none;
}

/* 
Source: https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete
*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--color-text);
}

button {
  cursor: pointer;
}

.material-symbols-rounded {
  user-select: none;
}
