/* Style for saved and search pages */

/* Main content */
main {
    margin: 50px 0;
}

/* Section content */
main div.section-content {
    margin: 0 7vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

main p {
    margin: 0 7vw 30px 7vw;
    
    text-align: center;
}

main h2 {
    margin: 15px 7vw 30px 7vw;
    
    font-size: 2em;
    color: var(--color-text);
    text-align: center;
    overflow-wrap: break-word;
}
