/* Style for stats page */

/* Main container */
main {
    padding: 50px 10vw;
}

main p {
    margin: 0 7vw 30px 7vw;
    text-align: center;
}

/* Parent of the table */
main>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Table */
main table {
    border-collapse: collapse;
}

/* Style of th cells, we use the :not(:first-child) selector to avoid styling the first cell */
main th:not(:first-child) {
    background-color: var(--color-background);
    color: var(--color-text);
    padding: 10px;
    border: 1px solid var(--color-secondary);
}

/* Style of td cells */
main td {
    background-color: var(--color-background);
    color: var(--color-text);
    padding: 10px;
    border: 1px solid var(--color-secondary);
}

/* Only the numbers in the table should be centered */
main td:not(:first-child) {
    text-align: center;
}
