/* Style for switch in login/register pages */

/* Parent */
div.tabs {
    padding: 10px;
    
    display: flex;
    flex-direction: row;
    gap: 25px;
    
    background-color: #a3a3a326;
    border-radius: 20px;
}

/* Children */
div.tabs > a {
    width: auto;
    background-color: transparent;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    font-size: 18px;
    color: var(--color-text);
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
}

/* Indicator to show the current page */
div.tabs > a.active {
    color: var(--color-text-primary);
    background-color: var(--color-primary);
}
